@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Employee>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Personel Listesi</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Rapor Oluştur
    </a>
</div>


<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <p>
            Burada aktif personeleri görebilirsiniz.
        </p>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Departman</th>
                    <th>İşe Başlama Tarihi</th>
                    <th>İşlemler</th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.UserId</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td> 
                        <td>@item.Department</td>
                        <td>@item.HireDate</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-primary">İncele</a>
                            <a href="" class="btn btn-sm btn-warning">Düzenle</a>
                            <a href=""
                               class="btn btn-sm btn-danger"
                               onclick="return confirm('Bu görevi silmek istediğine emin misin?');">
                                Sil
                            </a>
                        </td>
                    </tr>

                </tbody>
            }


        </table>
    </div>
</div>